<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Seekr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        @if(authService.user() && authService.user()?.roles?.includes("User")){
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['lostandfound']">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['submissions']">Submissions</a>
        </li>
        }
        @if(authService.user() && authService.user()?.roles?.includes("Administrator")){
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['admin/lostandfoundlist']">Manage Reports</a>
        </li>
        }
      </ul>
      <div class="flex gap-4 align-items-center">
        @if(authService.user()){
          <span>{{authService.user()?.email}}</span>
          <button (click)="LogOut()" type="button" class="btn btn-primary">Logout</button>
        }
        @else{
           <a [routerLink]="['Login']" class="btn btn-primary">Login</a>
        }
      </div>
    </div>
  </div>
</nav>